<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="content">
    <div class="content">
        <div class="title">
            <div class="date">25.03.2018
                <div class="time">12:15</div>
            </div>
        </div>
        <div class="consultation-table">
            <table>
                <tr>
                    <th class="date">Дата</th>
                    <th class="time">Время</th>
                </tr>
                <tr>
                    <td>20.03.2018</td>
                    <td>17:12</td>
                </tr>
                <tr>
                    <td>20.03.2018</td>
                    <td>17:12</td>
                </tr>
                <tr>
                    <td>20.03.2018</td>
                    <td>17:12</td>
                </tr>
                <tr>
                    <td>20.03.2018</td>
                    <td>17:12</td>
                </tr>

            </table>
        </div>
    </div>
</div>
</body>
</html>