<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .menu{
            width: 300px;
            height: 100px;
            margin: auto;
            position: relative;
            top: 100px;
        }

    </style>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="form reg" >
    <div class="enter">РЕГИСТРАЦИЯ</div>
    <div class="menu" >
        <a href="#" style="color: #45805e">Регистрация</a>
        <a href="#" style="color: #45805e">Вход</a>
        <input type="text" placeholder="LOGIN..." style="margin-bottom: 10px">
        <input type="password" placeholder="PASSWORD...">
        <input type="password" placeholder="CONFIRM PASSWORD...">
        <input class="submit button" type="submit" value="Registration">
    </div>
</div>


</body>
</html>