<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="form reg" >
    <div class="enter">РЕГИСТРАЦИЯ</div>
    <div class="add" >
        <a href="#" style="color: #45805e">Регистрация</a>
        <a href="#" style="color: #45805e">Вход</a>
        <input class="log" type="text" placeholder="LOGIN..." style="margin-bottom: 10px">
        <input class="pass1" type="password" placeholder="PASSWORD...">
        <input class="pass2" type="password" placeholder="CONFIRM PASSWORD...">
        <input class="submit button" type="submit" value="Registration">
    </div>
</div>


</body>
</html>